dask[complete]
scikit-image
seaborn
jupyterlab
dotmap
pytest
coverage
pytest-cov
pylint
flake8
opencv-python
## The following requirements were added by pip freeze:
matplotlib
numpy
pandas
PyYAML
requests
